.single-header {
    height: 55vh;
    width: 100%;
    background-size: cover; 
    background-position: top;

    .valign-wrapper {
        height: calc(100% - 64px); /** <-- Vertical center div less the navbar 64px */
    }
}