#index-header {
    height: 95vh;
    width: 100%;
    background-size: cover; 
    background-position: top;

    h1 {
        margin: auto;
    }

    .nav-center ul {
        text-align: center;
    }
    .nav-center ul li {
        display: inline;
        float: none;
    }
    .nav-center ul li a {
        display: inline-block;
    }
}