#index-header {
    height: 95vh;
    width: 100%;
    background-size: cover; 
    background-position: top;

    h1 {
        margin: auto;
    }

    .nav-center ul {
        text-align: center;
    }
   
    .nav-center ul li {
        display: inline;
        float: none;
    }
   
    .nav-center ul li a {
        display: inline-block;
        font-size: 1.8em;        
    }
}

blockquote {
    font-style: italic;
    margin-left: 60px;

    .no-margin {
        margin-left: 0;
    }
}

.text-justify {
    text-align: justify;
}

#it-featured {
    .material-icons {
        font-size: 3.56rem;
    }

    .featured-list {
        .card-panel {
            height: 290px;
        }

        ul {
            margin: 0px;

            li {
                margin-bottom: 20px;
            }
        }
    }
}

.it-featured-list-cover {
    height: 83px;
    background-size: cover; 
    background-position: top;
}

.it-featured-list-title {
    font-weight: bold;
}
