@import "./normalize";
@import "./animate";
@import "./font-awesome";
@import "./materialize-custom";

@import "./helper-breakpoint";
@import "./index";
@import "./navbar";
@import "./breadcrumb";
@import "./single";

.uppercase {
    text-transform: uppercase;
}

#single {
    margin-top: 30px;
}

.blog-card {
    div {
        width: 100%;
    }
}

/* Maintain fluid aspect ratio */
.blog-card:after {
    content: "";
    display: block;
    padding-bottom: 70%;
  }