@import "./normalize";
@import "./animate";
@import "./font-awesome";
@import "./materialize-custom";

@import "./helper-breakpoint";
@import "./header";
@import "./footer";
@import "./index";
@import "./navbar";
@import "./navside";
@import "./breadcrumb";
@import "./single";
@import "./list";
@import "./featured";
@import "./404";
@import "./book-cover";
@import "./prev-next";
@import "./blockquote";
@import "./video-image";
@import "./photos";

.uppercase {
    text-transform: uppercase;
}

#single {
    margin-top: 30px;
}

/* Maintain fluid aspect ratio 3:2 */
.aspect-ratio-32 {
    div {
        width: 100%;
    }
}

.aspect-ration-32:after {
    content: "";
    display: block;
    padding-bottom: calc(100% / 3 * 2);
}


/* Maintain fluid aspect ratio */
.aspect-ration:after {
    content: "";
    display: block;
    padding-bottom: 70%;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.tint {
    position: relative;
    float: left;
    cursor: pointer;
  }
  
  .tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,255,255, 0.5);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
  }
  
  .tint:hover:before {
    background: none;
  }