.video-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .video-image:after {
    content: "";
    display: block;
    padding-bottom: 70%;
  }