<!DOCTYPE html>
<html>

  <!-- Default Page Head -->
  {{ partial "head.html" . }}

  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "body" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    <!-- Default Footer -->
    {{ partial "footer.html"}}

    <!-- code for localhost only -->
    {{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
      {{ partial "breakpoint-helper.html" . }}
    {{ end }}

    <!-- Load themes Javascript file -->
    <script src='{{ .Site.BaseURL }}{{ index .Site.Data.hash "materialize.min.js" }}'></script>
  </body>

  </html>