<!DOCTYPE html>
<html>

  <!-- Default Page Head -->
  {{ partial "head.html" . }}

  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "body" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    <!-- Default Footer -->
    {{ partial "footer.html" . }}

    <!-- Load themes Javascript file -->
    <script src='/{{ index .Site.Data.hash "materialize.min.js" }}'></script>

    <!-- code for localhost only -->
    {{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
      {{ partial "helper-breakpoint.html" . }}
    {{ end }}

    <!-- Include Google Analyics if not localhost -->
    {{ if ne (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
    
      {{ template "_internal/google_analytics_async.html" . }}

    {{ end }}
  </body>

</html>