<!DOCTYPE html>
<html>

  <!-- Default Page Head -->
  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}
    
    <div class="container">
      <div class="row">
        <div class="col flow-text text-justify">

          <h2>{{ .Title }} </h2>
          
          {{ partial "breadcrumb.html" . }}
          

          {{ .Content }}
          
          <div class="divider"></div>
        </div>
      </div>      
    </div>

    <!-- Footer -->
    {{ partial "footer.html" .}}

    <!-- code for localhost only -->
    {{ if eq (printf "%v" $.Site.BaseURL) "http://localhost:1313/" }}
      {{ partial "helper-breakpoint.html" . }}
    {{ end }}

    <!-- Load themes Javascript file -->
    <script src='{{ .Site.BaseURL }}{{ index .Site.Data.hash "materialize.min.js" }}'></script>
  </body>

  </html>