{{ define "body" }} 
<!-- Inherit from body block defined in baseof.html -->

  {{ partial "header.html" . }}
  
  <div class="container single">
    <div class="row">
      <div class="col text-justify">

        <h2>{{ .Title }}</h2>
        
        {{ partial "breadcrumb.html" . }}
        
        <div class="flow-text">
          {{ .Content }}
        </div>
        
        <div class="divider"></div>

          <div class="related">
            <h4>Related:</h4>

            <!-- Need to check length, else you get errors and will not generate -->
            {{ if gt (len (.Site.RegularPages.Related .)) 6 }}
              <p class="flow-text text-justify">
                <em>Some other posts if you enjoyed this one:</em>
              </p>
              {{ partial "featured" (.Site.RegularPages.Related . | first 6) }}
            {{ else }}
              <p class="flow-text text-justify">
                <em>Opps, there does not appear to be any related posts.</em>
              </p>
            {{ end }}

          </div>

      </div>
    </div>      
  </div>

{{ end }}