{{ define "body" }}
<!-- Inherit from body block defined in baseof.html -->

    {{ partial "header.html" . }}

    <div class="container list">
        <div class="row">

            <!-- Page title -->
            <div class="col s12">
                <h2>{{ .Title }}</h2>
            </div>

            <!-- Where am I -->
            <div class="col s12">
                {{ partial "breadcrumb-categories.html" . }}
            </div>

        </div>
    </div>

    <div class="container list">
        <div class="row">
            <ul>

                <!-- List relevant pages -->
                {{ range .Paginator.Pages }}

                    <li>
                        <div class="col s12">
                            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                        </div>

                        <div class="col s12 flow-text">
                            <div class="col s12 m3 list-blog-cover">
                                <img 
                                    class="z-depth-1"
                                    width="100%" 
                                    sizes="(max-width: 600px) 100vw, (max-width: 992px) 20vw, (max-width: 1200px) 20vw, (max-width: 2880px) 20vw" 
                                    srcset="
                                        /images/{{ index .Site.Data.images (printf "%s@mobile.jpg" .Params.cover) }} 600w,
                                        /images/{{ index .Site.Data.images (printf "%s@tablet.jpg" .Params.cover) }} 992w,
                                        /images/{{ index .Site.Data.images (printf "%s@desktop.jpg" .Params.cover) }} 1200w,
                                        /images/{{ index .Site.Data.images (printf "%s@highres.jpg" .Params.cover) }} 2880w"
                                    alt="{{ .Title }}">
                            </div>

                            {{ if .Summary }}
                                {{ .Summary }}
                            {{ end }}
                            
                            {{ if .Truncated }}
                                <a href="{{ .Permalink }}">Read More…</a>
                            {{ end }}
                        </div>
                    </li>

                {{ end }}
                
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                {{ if gt .Paginator.TotalPages 1 }}
                    {{ partial "pagination.html" . }}
                {{ end }}
            </div>
        </div>
    </div>

{{ end }}