<div class="row featured">
<!-- Featured posts, contex passed from parital block -->    

    <!-- First one is big -->
    {{ range first 1 . }}

        <div class="col s12 m5">
            <a href="{{.Permalink}}" class="white-text">
                <div 
                    class="card-panel valign-wrapper featured-main"
                    style="background-image: url(images/{{ index .Site.Data.images (printf "%s@mobile.jpg" .Params.cover) }})">
                    <div>
                    <h4 class="center-align">{{.Title}}</h4>
                    <h6 class="center-align">{{.Params.description}}</h6>
                    </div>
                </div>
            </a>
        </div>

    {{ end }}

    <!-- List the next 3 latest posts -->
    <div class="col s12 m7 card-panel z-depth-0">
        <ul class="featured-list">

            {{ range after 1 (first 4  . ) }}

                <li class="row">
                    <div class="col s3">
                        <a href="{{ .Permalink }}">
                            <img 
                                class="z-depth-1 featured-list-cover"
                                width="100%" 
                                sizes="(max-width: 600px) 10vw, (max-width: 992px) 10vw, (max-width: 1200px) 10vw, (max-width: 2880px) 10vw" 
                                srcset="
                                    images/{{ index .Site.Data.images (printf "%s@mobile.jpg" .Params.cover) }} 600w,
                                    images/{{ index .Site.Data.images (printf "%s@tablet.jpg" .Params.cover) }} 992w,
                                    images/{{ index .Site.Data.images (printf "%s@desktop.jpg" .Params.cover) }} 1200w,
                                    images/{{ index .Site.Data.images (printf "%s@highres.jpg" .Params.cover) }} 2880w" 
                                alt="{{ .Title }}">
                        </a>
                    </div>
    
                    <div class="col s9">
                        <h5 class="black-text truncate"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                        <h6 class="black-text truncate">{{.Params.description}}</h6>
                    </div>
                </li>

            {{ end }}
        </ul>
    </div>

</div>