<footer class="page-footer">
    <div class="container">
      <div class="row">

        <div class="col l6 s12">
          <h5 class="white-text">Ian Teda</h5>
          <p class="grey-text text-lighten-4">Husband, Father, Engineer, Explorer & Creator</p>
        </div>

        <div class="col l3 s12">
          <a href="/categories" class="white-text"><h5 class="white-text">Post Categories</h5></a>
          <ul>
            {{ range .Site.Menus.categories }}
              <li><a class="white-text" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        
        <div class="col l3 s12">
          <h5 class="white-text">Pages</h5>
          <ul>
            <li><a class="white-text" href="{{ $.Site.Params.now }}">Now</a></li>
            {{ range .Site.Menus.series }}
              <li><a class="white-text" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>

      </div>
    </div>
      
        <div class="footer-copyright">
            <div class="container">
              <div class="row valign-wrapper">
                <div class="col s6 left">
                  © 2017 Ian Teda
                </div>
                <div class="col s6 right">
                  <a class="grey-text text-lighten-4 right" href="{{ $.Site.Params.github }}" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</a>
                  <a class="grey-text text-lighten-4 right" href="{{ $.Site.Params.linkedin }}" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</a>
                  <a class="grey-text text-lighten-4 right" href="{{ $.Site.Params.youtube }}" target="_blank"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</a>
                  <a class="grey-text text-lighten-4 right" href="{{ $.Site.Params.instagram }}" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</a>
                  <a class="grey-text text-lighten-4 right" href="{{ $.Site.Params.twitter }}" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</a>
                  <a class="grey-text text-lighten-4 right" href="{{ $.Site.Params.facebook }}" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</a>
                  <a class="grey-text text-lighten-4 right" href="{{ $.Site.Params.email }}" target="_blank"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</a>
                </div>
              </div>
            </div>
          </div>
      </footer>