<!-- Dropdown Blog Menu Structure -->
<ul id="blog-dropdown" class="dropdown-content">
  <li><a href="/blog/creative">Creative</a></li>
  <li><a href="/blog/engineering">Engineering</a></li>
  <li><a href="/blog/management">Management</a></li>
  <li><a href="/blog/programming">Progrmming</a></li>
</ul>

<!-- Navbar -->
<nav class="fadeIn" role="navigation" id="navbar">
  <div class="nav-wrapper">
    <ul class="right hide-on-med-and-down">
      <li><a href="#story">Story</a></li>
      <li><a href="#code">Code</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#latest">Latest</a></li>

      <!-- Dropdown Blog Menu -->
      <li><a class="dropdown-button" href="/blog/" data-activates="blog-dropdown">Blog Posts<i class="material-icons right">arrow_drop_down</i></a></li>

      <li><a href="/now">Now</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#story">Story</a></li>
      <li><a href="#code">Code</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#latest">Latest</a></li>
      <li><a href="#latest">Blog</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>