<ul id="navside" class="side-nav">
    <li class="grey accent-1">
        <div class="user-view center-align">
            <a href="/">
                <img 
                    class="circle z-depth-2"
                    width="100%"
                    sizes="(max-width: 600px) 20vw, (max-width: 992px) 20vw, (max-width: 1200px) 20vw, (max-width: 2880px) 20vw" 
                    src="/photos/{{index $.Site.Data.photos "2010-09-15 08.06.03 111111_0000@mobile.jpg"}} "
                    srcset="
                        /photos/{{index $.Site.Data.photos "2010-09-15 08.06.03 111111_0000@mobile.jpg"}} 576w,
                        /photos/{{index $.Site.Data.photos "2010-09-15 08.06.03 111111_0000@tablet.jpg"}} 768w,
                        /photos/{{index $.Site.Data.photos "2010-09-15 08.06.03 111111_0000@desktop.jpg"}} 992w,
                        /photos/{{index $.Site.Data.photos "2010-09-15 08.06.03 111111_0000@highres.jpg"}} 1200w"
                    alt="Ian Teda head shot">
            </a>
            <a href="{{ $.Site.Params.now }}"><span class="white-text name">{{ .Site.Params.author }}</span></a>
            <a href="{{ $.Site.Params.email }}"><span class="white-text email">{{ .Site.Params.email }}</span></a>
        </div>
    </li>

    <li><a href="/categories" class="subheader">Categories</a></li>

    {{ range .Site.Menus.categories }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    <li><div class="divider"></div></li>
    <li><a class="subheader">Pages</a></li>
    <li><a href="{{ $.Site.Params.now }}">Now</a></li>
    {{ range .Site.Menus.series }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
</ul>