<ul id="navside" class="side-nav">
    <li class=" blue accent-1">
        <div class="user-view center-align">
            <a href="{{ .Site.BaseURL }}">
                <img 
                    class="circle z-depth-2"
                    width="100%" 
                    sizes="(min-width: 36em) 576w, 768w, 992w, 1200w" 
                    srcset="
                        {{.Site.BaseURL}}images/{{index $.Site.Data.hash "head-shot@mobile.jpg"}} 576w,
                        {{.Site.BaseURL}}images/{{index $.Site.Data.hash "head-shot@tablet.jpg"}} 768w,
                        {{.Site.BaseURL}}images/{{index $.Site.Data.hash "head-shot@desktop.jpg"}} 992w,
                        {{.Site.BaseURL}}images/{{index $.Site.Data.hash "head-shot@highres.jpg"}} 1200w" 
                    alt="Ian Teda head shot">
            </a>
            <a href="#!name"><span class="white-text name">{{ .Site.Params.author }}</span></a>
            <a href="#!email"><span class="white-text email">{{ .Site.Params.email }}</span></a>
        </div>
    </li>
    <li><a href="/blog" class="subheader">Blog</a></li>

    {{ range .Site.Menus.categories }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Pages</a></li>
    <li><a href="/now/">Now</a></li>
    <li><a href="/engineering-rule-book/">Engineering Rule Book</a></li>
</ul>