<ul id="navside" class="side-nav">
    <li class="grey accent-1">
        <div class="user-view center-align">
            <a href="/">
                <img 
                    class="circle z-depth-2" 
                    width="100%" 
                    sizes="(max-width: 600px) 30vw, (max-width: 992px) 30vw, (max-width: 1200px) 30vw, (max-width: 2880px) 30vw"
                    src="images/{{index $.Site.Data.images "head-shot@desktop.jpg"}}"
                    srcset="
                        images/{{index $.Site.Data.images "head-shot@mobile.jpg"}} 600w,
                        images/{{index $.Site.Data.images "head-shot@tablet.jpg"}} 992w,
                        images/{{index $.Site.Data.images "head-shot@desktop.jpg"}} 1200w,
                        images/{{index $.Site.Data.images "head-shot@highres.jpg"}} 2880w"
                    alt="Ian Teda head shot">
            </a>
            <a href="{{ $.Site.Params.now }}"><span class="white-text name">{{ .Site.Params.author }}</span></a>
            <a href="{{ $.Site.Params.email }}"><span class="white-text email">{{ .Site.Params.email }}</span></a>
        </div>
    </li>

    <li><a href="/categories" class="subheader">Categories</a></li>

    {{ range .Site.Menus.categories }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    <li><div class="divider"></div></li>
    <li><a class="subheader">Pages</a></li>
    <li><a href="{{ $.Site.Params.now }}">Now</a></li>
    {{ range .Site.Menus.series }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
</ul>