<div class="grey lighten-4 row prev-next">

    {{ with .PrevInSection }}

        <div class="col s6 flow-text truncate">
            <a href="{{ .Permalink }}" title="Previous" class="valign-wrapper black-text">
                <i class="medium material-icons">keyboard_arrow_left</i>
                {{ .Title }}
            </a>
        </div>

    {{ end }}

    {{ with .NextInSection }}

        <div class="col s6 flow-text truncate">
            <a href="{{ .Permalink }}" title="Next" class="valign-wrapper right black-text">
                {{ .Title }}
                <i class="medium material-icons">keyboard_arrow_right</i> 
            </a>
        </div>

    {{ end }}

</div>
