{{ define "body" }} <!-- Inherit from body block defined in baseof.html -->

<!-- Header of landing page -->
<header id="index-header" class="valign-wrapper blue z-depth-1" style="background-image: url({{$.Site.BaseURL}}images/{{index $.Site.Data.hash "cover-intake-profile@highres.jpg"}})">
  <div class="container">
    <div class="row">
      <h1 class="header center white-text">IAN<strong>TEDA</strong></h1>

      <nav class="transparent nav-center z-depth-0">
        <div class="nav-wrapper">
          <ul id="" class="">
            <li><a href="#it-about">About</a></li>
            <li><a href="#it-code">Code</a></li>
            <li><a href="#it-skills">Skills</a></li>
            <li><a href="#it-blog">Blog</a></li>
          </ul>
        </div>
      </nav>

    </div>
  </div>
</header>

<!-- All about Ian Teda, the elevator pitch -->
<div class="container">
  <div class="section">
    <h2 id="it-about" class="header">About</h2>
    <p class="flow-text text-justify">
      <em>Hi, I am Ian Teda and this my story so far:</em>
    </p>
    <div class="divider"></div>

    <p class="flow-text text-justify">I have always enjoyed a good adventure, and cannot help but wonder what is around the next corner. My most exciting adventure at the moment is raising my two young boys – Austin and Dillan – with my beautiful wife Laura.</p>

    <p class="flow-text text-justify">I have been fortunate to work as a Civil Engineer on some amazing infrastructure projects within NSW and ACT Australia. Some highlights, that I am proud to say I worked on include: balanced cantilever segmental bridges; dry well intake tower and new RCC dam; bulk earthworks on Pacific Highway upgrade; the manufacture of pre-tensioned bridge elements such as pile caps, Super T beams, planks and Reinforced Concrete Box Culverts; the Sydney Light Rail design.</p>
      
    <p class="flow-text text-justify">My hard work and determination has come with the satisfaction of seeing large infrastructure projects being born, projects that I am proud to tell my boys I have worked on.</p>

    <p class="flow-text text-justify">To find out more about my work, checkout my <a href="https://www.linkedin.com/in/ianteda/">LinkedIn Profile <i class="blue-text fa fa-linkedin-square" aria-hidden="true"></i>
    </a></p>

    <p class="flow-text text-justify">To find out what I am up to right now, checkout my <a href="now.html">now page</a>.</p>
  </div>
</div>

<!-- What do I value, my principles. Why should you listen to me -->
<div class="grey lighten-4">
  <div class="container">
      <div class="section">
        
        <h1 id="it-code">Code</h1>
        <p class="flow-text text-justify">
          <em>What I am trying to live by:</em>
        </p>
        <div class="divider"></div>
        <br>
    
        <!-- shown on tablet screens and up -->
        <div class="row valign-wrapper hide-on-small-only">
          <div class="col s3">
            <img 
              class="circle z-depth-2"
              width="100%" 
              sizes="(min-width: 36em) 576w, 768w, 992w, 1200w" 
              srcset="
                {{.Site.BaseURL}}images/{{index $.Site.Data.hash "head-shot@mobile.jpg"}} 576w,
                {{.Site.BaseURL}}images/{{index $.Site.Data.hash "head-shot@tablet.jpg"}} 768w,
                {{.Site.BaseURL}}images/{{index $.Site.Data.hash "head-shot@desktop.jpg"}} 992w,
                {{.Site.BaseURL}}images/{{index $.Site.Data.hash "head-shot@highres.jpg"}} 1200w" 
              alt="Ian Teda head shot">
          </div>
          <div class="col s9">
            <blockquote>
              <p class="flow-text text-justify">I choose to be authentic through honesty, integrity and transparency. With a spirit for creativity, imagination
                and adventure. Seeking personal growth by being curious, learning and reflecting. Looking for freedom through
                the discipline of habit. But most of all I am trying to be useful by adding value in what I do.
                <cite>– Ian Teda</cite>
              </p>
            </blockquote>
          </div>
        </div>

        <!-- shown on mobile screens -->
        <div class="row hide-on-med-and-up">
            <div class="col s8 offset-s2">
              <img 
                class="circle z-depth-2"
                width="100%" 
                sizes="(min-width: 36em) 576w, 768w, 992w, 1200w" 
                srcset="
                  {{.Site.BaseURL}}images/{{index $.Site.Data.hash "head-shot@mobile.jpg"}} 576w,
                  {{.Site.BaseURL}}images/{{index $.Site.Data.hash "head-shot@tablet.jpg"}} 768w,
                  {{.Site.BaseURL}}images/{{index $.Site.Data.hash "head-shot@desktop.jpg"}} 992w,
                  {{.Site.BaseURL}}images/{{index $.Site.Data.hash "head-shot@highres.jpg"}} 1200w" 
                alt="Ian Teda head shot">
            </div>
            <div class="col s12">
              <blockquote class="no-margin">
                <p class="flow-text text-justify">I choose to be authentic through honesty, integrity and transparency. With a spirit for creativity, imagination
                  and adventure. Seeking personal growth by being curious, learning and reflecting. Looking for freedom through
                  the discipline of habit. But most of all I am trying to be useful by adding value in what I do.
                  <cite>– Ian Teda</cite>
                </p>
              </blockquote>
            </div>
          </div>

      </div>
    </div>
</div>

<!-- How can I add value -->
<div class="container">
  <div class="section">

    <div class="row">

        <h2 id="it-about" class="header">Skills</h2>
        <p class="flow-text">
          <em>My curiosity has lead to skills in:</em>
        </p>
        <div class="divider"></div>


      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center"><a href="/blog/leadership"><i class="material-icons large">supervisor_account</i></a></h2>
          <h5 class="center"><a href="/blog/leadership">Leadership</a></h5>

          <p class="light flow-text center-align">Project Management, Cost Management, Scheduling, Estimating, Community, &amp; Contract Management.</p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center"><a href="/blog/engineering"><i class="material-icons large">directions_railway</i></a></h2>
          <h5 class="center"><a href="/blog/engineering">Engineering</a></h5>

          <p class="light flow-text center-align">Bridges, Drainage, Dams, Water, Precast, Bulk Earthworks, Drill &amp; Blast, Diaphragm Wall Tunnels, Structures
            &amp; Light Rail, <a href="/engineering-rule-book.html">Engineering Rule Book</a>.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center"><a href="/blog/programming"><i class="material-icons large">computer</i></a></h2>
          <h5 class="center"><a href="/blog/programming">Programming</a></h5>

          <p class="light flow-text center-align">Web Design, Javascript, Java (Andriod), SQL &amp; MongoDB.</p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center"><a href="/blog/creativity"><i class="material-icons large">copyright</i></a></h2>
          <h5 class="center"><a href="/blog/creativity">Creativity</a></h5>

          <p class="light flow-text center-align">Videography, Photography, Maker (Arduino, Raspberry Pi) &amp; Music.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>

<!-- Featured blog posts. How have I been adding value -->
<div class="grey lighten-4">
  <div id="it-featured" class="container">
    <div class="section">

      <h2>Blog<a href="/blog"><i class="material-icons">navigate_next</i></a></h2>
      <p class="flow-text text-justify">
        <em>Some ideas (thoughts) that I have put a URL to recently:</em>
      </p>
      <div class="divider"></div>
      <br>

      <!-- List the last post as a feature -->
      <div class="row featured-list">

        {{ range first 1 .Data.Pages }}
          <div class="col s12 m5">
            <a href="{{.Permalink}}" class="white-text">
              <div class="card-panel valign-wrapper" style="background-image: url({{ .Site.BaseURL }}images/{{ index .Site.Data.images (printf "%s@highres.jpg" .Params.cover) }})">
                  <div>
                    <h5 class="center-align">{{.Title}}</h5>
                    <h6 class="center-align">{{.Params.description}}</h6>
                  </div>
              </div>
            </a>
          </div>
        {{ end }}

        <!-- List the next 3 latest posts -->
        <div class="col s12 m7 card-panel grey lighten-4 z-depth-0">
          <ul>
            {{ range first 3 (after 1 .Data.Pages) }}
              <a href="{{.Permalink}}">
                <li class="valign-wrapper">
                  <div class="col s3 it-featured-list-cover z-depth-1" style="background-image: url({{ .Site.BaseURL }}images/{{ index .Site.Data.images (printf "%s@highres.jpg" .Params.cover) }})">
                  </div>
  
                  <div class="col s9">
                    <h6 class="black-text truncate it-featured-list-title">{{.Title}}</h6>
                    <p class="black-text truncate">{{.Params.description}}</p>
                  </div>
                </li>
              </a>
            {{ end }}
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Get added to the email list -->
<div class="container">
  <div class="section">
    <h1 id="it-featured">Email List</h1>
    <p class="flow-text text-justify">
      <em>Keep up date with latest happenings:</em>
    </p>
    <div class="divider"></div>
    <br><br><br>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12 m5">
            <i class="material-icons prefix">person</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Name</label>
          </div>
          <div class="input-field col s12 m5">
            <i class="material-icons prefix">email</i>
            <input id="icon_telephone" type="email" class="validate">
            <label for="icon_telephone">Email</label>
          </div>
          <a class="waves-effect waves-light btn col s12 m2 blue"><i class="material-icons left">send</i>send</a>
        </div>
      </form>
    </div>

  </div>
</div>

{{ end }}