{{ define "body" }}
<!-- Inherit from body block defined in baseof.html -->

    {{ partial "header.html" . }}

    <div class="container series flow-text">
        <div class="row">

            <!-- Page title -->
            <div class="col s12">
                <h2>{{ .Title }}</h2>
            </div>

            <!-- Where am I -->
            <div class="col s12">
                {{ partial "breadcrumb.html" . }}
            </div>

            <div id="series_forward" class="col s12">
                <p>{{ .Content }}</p>
            </div>

        </div>
    </div>

    <div class="container series flow-text">
        <div class="row">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h4>Table of Contents</h4>
                </li>
                {{ range .Data.Pages.ByDate }}
                    <li class="collection-item">
                        <a href="{{ .Permalink }}" title="{{ .Params.description }}">{{ .Title }} [{{ .Type }}]</a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>

{{ end }}